[Unit]
Description=docker service to manage piler expand-template
After=piler.service

[Service]
ExecStart=/usr/libexec/nethserver/nethserver-piler-expand-template
